<section class="content container-covers">
  <h3 class="hidden">Covers</h3>
  <div class="marquee">
    <ul class="marquee__inner">
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_7_1X.jpg 1x, ./img/covers/icon_7_2X.jpg 2x"
          src="./img/covers/icon_7_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_8_1X.jpg 1x, ./img/covers/icon_8_2X.jpg 2x"
          src="./img/covers/icon_8_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_9_1X.jpg 1x, ./img/covers/icon_9_2X.jpg 2x"
          src="./img/covers/icon_9_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="
            ./img/covers/icon_10_1X.jpg 1x,
            ./img/covers/icon_10_2X.jpg 2x
          "
          src="./img/covers/icon_10_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_3_1X.jpg 1x, ./img/covers/icon_3_2X.jpg 2x"
          src="./img/covers/icon_3_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_2_1X.jpg 1x, ./img/covers/icon_2_2X.jpg 2x"
          src="./img/covers/icon_2_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_2_1X.jpg 1x, ./img/covers/icon_2_2X.jpg 2x"
          src="./img/covers/icon_2_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_3_1X.jpg 1x, ./img/covers/icon_3_2X.jpg 2x"
          src="./img/covers/icon_3_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_4_1X.jpg 1x, ./img/covers/icon_4_2X.jpg 2x"
          src="./img/covers/icon_4_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_1_1X.jpg 1x, ./img/covers/icon_1_2X.jpg 2x"
          src="./img/covers/icon_1_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_6_1X.jpg 1x, ./img/covers/icon_6_2X.jpg 2x"
          src="./img/covers/icon_6_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_5_1X.jpg 1x, ./img/covers/icon_5_2X.jpg 2x"
          src="./img/covers/icon_5_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_1_1X.jpg 1x, ./img/covers/icon_1_2X.jpg 2x"
          src="./img/covers/icon_1_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_5_1X.jpg 1x, ./img/covers/icon_5_2X.jpg 2x"
          src="./img/covers/icon_5_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_7_1X.jpg 1x, ./img/covers/icon_7_2X.jpg 2x"
          src="./img/covers/icon_7_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_2_1X.jpg 1x, ./img/covers/icon_2_2X.jpg 2x"
          src="./img/covers/icon_2_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_8_1X.jpg 1x, ./img/covers/icon_8_2X.jpg 2x"
          src="./img/covers/icon_8_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
      <li class="marquee__line">
        <img
          class="img-card"
          srcset="./img/covers/icon_4_1X.jpg 1x, ./img/covers/icon_4_2X.jpg 2x"
          src="./img/covers/icon_4_1X.jpg"
          alt="Card-1"
          width="282"
          height="163"
        />
      </li>
    </ul>
  </div>
</section>
