<section class="section-covers" id="covers">
  <div class="content container-covers">
    <h3 class="hidden">Covers</h3>
    <ul class="marquee">
      <li class="marquee__inner">
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_2X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_2_1X.webp 1x, ./img/covers/icon_2_1X.webp 2x"
          src="./img/covers/icon_2_1X.webp"
          alt="2"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_3_1X.webp 1x, ./img/covers/icon_3_2X.webp 2x"
          src="./img/covers/icon_3_1X.webp"
          alt="3"
        />
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_2X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_2_1X.webp 1x, ./img/covers/icon_2_1X.webp 2x"
          src="./img/covers/icon_2_1X.webp"
          alt="2"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_3_1X.webp 1x, ./img/covers/icon_3_2X.webp 2x"
          src="./img/covers/icon_3_1X.webp"
          alt="3"
        />
      </li>
      <li class="marquee__inner">
        <img
          class="marquee__line"
          srcset="./img/covers/icon_4_1X.webp 1x, ./img/covers/icon_4_1X.webp 2x"
          src="./img/covers/icon_4_1X.webp"
          alt="4"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_5_1X.webp 1x, ./img/covers/icon_5_1X.webp 2x"
          src="./img/covers/icon_5_1X.webp"
          alt="5"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_6_1X.webp 1x, ./img/covers/icon_6_1X.webp 2x"
          src="./img/covers/icon_6_1X.webp"
          alt="6"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_7_1X.webp 1x, ./img/covers/icon_7_1X.webp 2x"
          src="./img/covers/icon_7_1X.webp"
          alt="7"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_4_1X.webp 1x, ./img/covers/icon_4_1X.webp 2x"
          src="./img/covers/icon_4_1X.webp"
          alt="4"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_5_1X.webp 1x, ./img/covers/icon_5_1X.webp 2x"
          src="./img/covers/icon_5_1X.webp"
          alt="5"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_6_1X.webp 1x, ./img/covers/icon_6_1X.webp 2x"
          src="./img/covers/icon_6_1X.webp"
          alt="6"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_7_1X.webp 1x, ./img/covers/icon_7_1X.webp 2x"
          src="./img/covers/icon_7_1X.webp"
          alt="7"
        />
      </li>
      <li class="marquee__inner">
        <img
          class="marquee__line"
          srcset="./img/covers/icon_8_1X.webp 1x, ./img/covers/icon_8_1X.webp 2x"
          src="./img/covers/icon_8_1X.webp"
          alt="8"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_9_1X.webp 1x, ./img/covers/icon_9_1X.webp 2x"
          src="./img/covers/icon_9_1X.webp"
          alt="9"
        />
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_1X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_8_1X.webp 1x, ./img/covers/icon_8_1X.webp 2x"
          src="./img/covers/icon_8_1X.webp"
          alt="8"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_9_1X.webp 1x, ./img/covers/icon_9_1X.webp 2x"
          src="./img/covers/icon_9_1X.webp"
          alt="9"
        />
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_1X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
      </li>
      <li class="marquee__inner">
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_2X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_2_1X.webp 1x, ./img/covers/icon_2_1X.webp 2x"
          src="./img/covers/icon_2_1X.webp"
          alt="2"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_3_1X.webp 1x, ./img/covers/icon_3_2X.webp 2x"
          src="./img/covers/icon_3_1X.webp"
          alt="3"
        />
        <img
          class="marquee__line"
          srcset="
            ./img/covers/icon_10_1X.webp 1x,
            ./img/covers/icon_10_2X.webp 2x
          "
          src="./img/covers/icon_10_1X.webp"
          alt="10"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_1_1X.webp 1x, ./img/covers/icon_1_1X.webp 2x"
          src="./img/covers/icon_1_1X.webp"
          alt="1"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_2_1X.webp 1x, ./img/covers/icon_2_1X.webp 2x"
          src="./img/covers/icon_2_1X.webp"
          alt="2"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_3_1X.webp 1x, ./img/covers/icon_3_2X.webp 2x"
          src="./img/covers/icon_3_1X.webp"
          alt="3"
        />
      </li>
      <li class="marquee__inner">
        <img
          class="marquee__line"
          srcset="./img/covers/icon_4_1X.webp 1x, ./img/covers/icon_4_1X.webp 2x"
          src="./img/covers/icon_4_1X.webp"
          alt="4"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_5_1X.webp 1x, ./img/covers/icon_5_1X.webp 2x"
          src="./img/covers/icon_5_1X.webp"
          alt="5"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_6_1X.webp 1x, ./img/covers/icon_6_1X.webp 2x"
          src="./img/covers/icon_6_1X.webp"
          alt="6"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_7_1X.webp 1x, ./img/covers/icon_7_1X.webp 2x"
          src="./img/covers/icon_7_1X.webp"
          alt="7"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_4_1X.webp 1x, ./img/covers/icon_4_1X.webp 2x"
          src="./img/covers/icon_4_1X.webp"
          alt="4"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_5_1X.webp 1x, ./img/covers/icon_5_1X.webp 2x"
          src="./img/covers/icon_5_1X.webp"
          alt="5"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_6_1X.webp 1x, ./img/covers/icon_6_1X.webp 2x"
          src="./img/covers/icon_6_1X.webp"
          alt="6"
        />
        <img
          class="marquee__line"
          srcset="./img/covers/icon_7_1X.webp 1x, ./img/covers/icon_7_1X.webp 2x"
          src="./img/covers/icon_7_1X.webp"
          alt="7"
        />
      </li>
    </ul>
  </div>
</section>
