<!-- ===================== Header (Artem Radchenko) (START)==================== -->

<section class="header-section">
  <div class="header-container">
    <a href="https://gwake3007.github.io/Portfolio-Project/" class="logo-flex">
      <img
        src="/img/head_foot_icon/head_foot_icon_X1.jpg"
        alt="logo"
        class="logo"
      />
      <p class="logo-text">jefferson*</p>
    </a>

    <div class="position-menu">
      <p class="menu">Menu</p>
      <ul class="hidden-menu">
        <li class="menu-list"><a href="#about-me">About-me</a></li>
        <li class="menu-list"><a href="#benefits">Benefits</a></li>
        <li class="menu-list"><a href="#projects">Projects</a></li>
        <li class="menu-list"><a href="">FAQ</a></li>
      </ul>
    </div>

    <a href="" class="link-order-to-footer">
      <span class="order-tablet-desktop">Order the project</span>
    </a>
    <svg class="burger" id="burgerBtn">
      <use href="/img/icons/sprites.svg#burger"></use>
    </svg>

    <!-- ================ Modal Window ============================ -->
    <div id="modalWindow" class="modal">
      <svg class="close">
        <use href="/img/icons/sprites.svg#closeX"></use>
      </svg>
      <div class="modal-content">
        <ul class="modal-content-list">
          <li class="modal-content-list-item">
            <a href="#about-me" class="modal-content-list-item-link"
              >About me</a
            >
          </li>
          <li class="modal-content-list-item">
            <a href="#benefits" class="modal-content-list-item-link"
              >Benefits</a
            >
          </li>
          <li class="modal-content-list-item">
            <a href="#projects" class="modal-content-list-item-link"
              >Projects</a
            >
          </li>
          <li class="modal-content-list-item">
            <a href="" class="modal-content-list-item-link">FAQ</a>
          </li>
        </ul>
        <a href="" class="link-order">
          <span class="order-to-footer">Order the project</span>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- =====================Header (Artem Radchenko)(END)==================== -->
