<section class="hero container">
  <div class="hero-container-title">
    <h1 class="hero-title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
  </div>
  <ul class="hero-social-links">
    <li class="hero-social-link-item first"><a href="#">IG</a></li>
    <li class="hero-social-link-item second"><a href="#">FB</a></li>
    <li class="hero-social-link-item third"><a href="#">YT</a></li>
    <li class="hero-social-link-item fourth"><a href="#">GH</a></li>
    <li class="hero-social-link-item fifth">
      <a href="#">lloydjefferson@gmail.com</a>
    </li>
  </ul>
</section>
