<section class="hero">
  <div class="container">
      <h1 class="hero-title">
        Hello.<br />
        I’m Fullstack developer Lloyd Jefferson.
      </h1>
    <ul class="hero-social-links">
      <li class="hero-social-link-item first"><a class="hero-link-text" target="_blank" href="https://www.instagram.com/goitclub/">IG</a></li>
      <li class="hero-social-link-item second"><a class="hero-link-text" target="_blank" href="https://www.facebook.com/goITclub/">FB</a></li>
      <li class="hero-social-link-item third"><a class="hero-link-text" target="_blank" href="https://www.youtube.com/c/GoIT">YT</a></li>
      <li class="hero-social-link-item fourth"><a class="hero-link-text" target="_blank" href="gwake3007.github.io/Portfolio-Project/">GH</a></li>
      <li class="hero-social-link-item fifth">
        <a class="hero-link-text" target="_blank" href="loydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
    </ul>
  </div>
</section>
