<div class="mobile-menu">
  <div class="mobile-menu-container">
    <nav class="menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a href="#about-me" class="mobile-menu-item-link">About me</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#benefits" class="mobile-menu-item-link">Benefits</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#projects" class="mobile-menu-item-link">Projects</a>
        </li>
        <li class="mobile-menu-list-item">
          <a href="#faq" class="mobile-menu-item-link">FAQ</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu-button">
      <a class="mobile-menu-button-link" href="#footer">Order the project</a>
    </button>
  </div>
</div>
