<section id="projects" class="projects-section">
    <div class="container">

        <h3 class="projects-title">PROJECTS</h3>

                        <!-- ================ Card 1 ======================= -->

        <div class="slider-wrap">
            <div class="text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>

                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>

                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
            </div>

                       
            <div class="image-block">
                <img 
                srcset="
                        
                ../img/projects/mobile_new/image-mob-first@1x.jpg        311w,
                ../img/projects/mobile_new/image-mob-first@2x.jpg        622w,
                ../img/projects/desk_tablet_new/image-desk-first@1x.jpg  614w,    
                ../img/projects/desk_tablet_new/image-desk-first@2x.jpg 1228w
                "
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="../img/projects/mobile_new/image-mob-first@1x.jpg"
                class="projects-image" 
                alt="Foto"
                >
            </div>
        </div>

         
                        <!-- ================ Card 2 ======================= -->

        <div class="slider-wrap">
            <div class="text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>
        
                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
        
                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
            </div>
            <div class="image-block">
                <img 
                srcset="
                ../img/projects/mobile_new/image-mob-second@1x.jpg        311w,
                ../img/projects/mobile_new/image-mob-second@2x.jpg        622w,
                ../img/projects/desk_tablet_new/image-desk-second@1x.jpg  314w,
                ../img/projects/desk_tablet_new/image-desk-second@2x.jpg  1228w
                " 
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="../img/projects/mobile_new/image-mob-second@1x.jpg"
                class="projects-image" 
                alt="Foto">
            </div>
        </div>


                        <!-- ================  Card 3 ======================= -->

        <div class="slider-wrap">
            <div class="text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>
        
                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
        
                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
            </div>
            <div class="image-block">
                <img srcset="../img/projects/mobile_new/image-mob-third@1x.jpg      311w,
                ../img/projects/mobile_new/image-mob-third@2x.jpg          622w,
                ../img/projects/desk_tablet_new/image-desk-third@1x.jpg    614w,
                ../img/projects/desk_tablet_new/image-desk-third@2x.jpg   1228w
                "
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="../img/projects/mobile_new/image-mob-third@1x.jpg" 
                class="projects-image" 
                alt="Foto">
            </div>
        </div>

                <!-- ==============Buttons========== -->
                
                
                <div class="projects-buttons-wrap">
                    <button type="button" class="projects-button proj-left-button">
                        <svg class="button-arrow" width="25" height="24" aria-label="arrow left">
                            <use href="../img/icons/sprites.svg#arrow-narrow-right"></use>
                        </svg>
                    </button>
                
                    <button type="button" class="projects-button proj-right-button">
                        <svg class="button-arrow" width="24" height="24" aria-label="arrow right">
                            <use href="../img/icons/sprites.svg#arrow-narrow-right"></use>
                        </svg>
                
                    </button>
                </div>


    </div>
</section>