<section id="projects" class="projects-section">
    <div class="container">

        <h1>PROJECTS</h1>

        <div class="slider-wrap">
            <div class="text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>

                <p class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </p>

                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
            </div>
            <div class="image-block">
                <img class="projects-image" alt="Foto" width="311" height="195">
            </div>
        </div>
    </div>
</section>