<section id="projects" class="projects-section">
    <div class="container">

        <h2 class="projects-title">PROJECTS</h2>

<div class="swiper projects-swiper">       

    <ul class="swiper-wrapper proj-swiper-wrapper">

       
                        <!-- ================ Card 1 ======================= -->
        <li class="swiper-slide proj-swiper-slide proj-first-slide">
            <div class="proj-slider-wrap">
   
                <div class="proj-block proj-text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>

                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>

                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
                </div>

                       
                <div class="proj-block proj-image-block">
                <img srcset="
                ./img/projects/image-mob-first@1x.webp        311w,
                ./img/projects/image-mob-first@2x.webp        622w,
                ./img/projects/image-desk-first@1x.webp  614w,    
                ./img/projects/image-desk-first@2x.webp 1228w
                "
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="./img/projects/mobile_new/image-mob-first@webpwebp"
                alt="Foto"
                >
                </div>
            </div>
        </li>
         
                        <!-- ================ Card 2 ======================= -->
        <li class="swiper-slide proj-swiper-slide proj-second-slide">
            <div class="proj-slider-wrap">
                <div class="proj-block proj-text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>
        
                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
        
                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
                 </div>

                <div class="proj-block proj-image-block">
                <img 
                srcset="
                ./img/projects/image-mob-second@1x.webp   311w,
                ./img/projects/image-mob-second@2x.webp   622w,
                ./img/projects/image-desk-second@1x.webp  314w,
                ./img/projects/image-desk-second@2x.webp  1228w
                " 
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="./img/projects/image-mob-second@1x.webp"
                alt="Foto">
                </div>
            </div>
        </li>

                        <!-- ================  Card 3 ======================= -->
        <li class="swiper-slide proj-swiper-slide proj-third-slide">
            <div class="proj-slider-wrap">

                <div class="proj-block proj-text-block">
                <ul class="technologies-list">
                    <li class="technologies-item">#react</li>
                    <li class="technologies-item">#js</li>
                    <li class="technologies-item">#node js</li>
                    <li class="technologies-item">#git</li>
                </ul>
        
                <h2 class="projects-description">
                    Programming Across Borders: Ideas, Technologies, Innovations
                </h2>
        
                <a target="_blank" href="https://github.com/gWake3007/Portfolio-Project" class="project-link">See project</a>
                 </div>

                <div class="proj-block proj-image-block">
                <img srcset="
                ./img/projects/image-mob-third@1x.webp    311w,
                ./img/projects/image-mob-third@2x.webp    622w,
                ./img/projects/image-desk-third@1x.webp   614w,
                ./img/projects/image-desk-third@2x.webp  1228w
                "
                sizes="(min-width: 768px) 614px, (min-width: 320px) 311px"
                src="./img/projects/image-mob-third@1x.webp" 
                alt="Foto">
                 </div>
            </div>
        </li>
    </ul>

                 <!-- ==============Buttons========== -->
                
                
            <div class="projects-buttons-wrap">

                <div class="proj-btn-left-wrapper">
                    <button type="button" class="projects-button proj-left-button">
                        <svg class="button-arrow" width="24" height="24" aria-label="arrow left">
                            <use href="./img/icons/sprites.svg#arrow-narrow-right"></use>
                        </svg>
                    </button>
                </div>

                <div class="proj-btn-right-wrapper">
                    <button type="button" class="projects-button proj-right-button">
                        <svg class="button-arrow" width="24" height="24" aria-label="arrow right">
                            <use href="./img/icons/sprites.svg#arrow-narrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
</div>

    </div>
</section>