<section class="reviews-section" id="reviews">
  <div class="container">
    <h3 class="reviews-title">Reviews</h3>

    <div class="swiper reviews-slider">
      <ul class="reviews-list swiper-wrapper"></ul>

      <div class="reviews-btn-wrapper">
        <button
          class="reviews-prev-btn"
          aria-label="Previous review"
        >
          <svg class="btn-arrow" width="24" height="24">
            <use href="./img/icons/sprites.svg#arrow-narrow-right"></use>
          </svg>
        </button>

        <button
          class="reviews-next-btn"
          aria-label="Next review"
        >
          <svg class="btn-arrow" width="24" height="24">
            <use href="./img/icons/sprites.svg#arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
