<section class="section-work-together footer" id="footer">
  <div class="container container-fot">
    <div class="container-wrapper">
      <h2 class="footer-title title-together">
        <img
          class="footer-image"
          srcset="
            ./img/head_foot_icon/head_foot_icon_X1.webp 1x,
            ./img/head_foot_icon/head_foot_icon_X2.webp 2x
          "
          src="./img/head_foot_icon/head_foot_icon_X1.webp"
          alt="Head icon"
        />
        Let's <span class="title-work">work<br /></span>TOGETHER
      </h2>
    </div>
    <form class="footer-form">
      <label class="laber-for-input">
      <input
        class="footer-input"
        name="userEmail"
        type="email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <span class="email-message-span foot-span"></span>
    </label>
      
<label class="laber-for-input">
      <input
        class="footer-input"
        name="userComments"
        type="text"
        id="user-comments"
        placeholder="comments"
        required
      />
      <span class="comments-message-span foot-span"></span>
    </label>
      <div class="cont-btn">
        <button class="footer-btn" type="submit">Send</button>
      </div>
    </form>

    <div class="contacts-wrapper">
      <address class="contacts-footer">
        <ul class="container-address">
          <li class=".contacts-footer-mini email-btn">
            <a href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com</a
            >
          </li>

          <li class=".contacts-footer-mini phone-btn">
            <a href="tel:+3801111111111">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>
