<section class="section-work-together footer" id="footer">
  <div class="container container-fot">
    <div class="container-wrapper">
      <img
        class="footer-image"
        srcset="
          ./img/head_foot_icon/head_foot_icon_X1.webp 1x,
          ./img/head_foot_icon/head_foot_icon_X2.webp 2x
        "
        src="./img/head_foot_icon/head_foot_icon_X1.webp"
        alt="Head icon"
      />
      <h2 class="footer-title">Let's <span class="title-work">work</span></h2>
    </div>

    <h2 class="title-together">together</h2>

    <form class="footer-form">
      <input
        class="footer-input"
        name="userEmail"
        type="email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <input
        class="footer-input"
        name="userComments"
        type="text"
        id="user-comments"
        placeholder="comments"
        required
      />
      <div class="cont-btn">
        <button class="footer-btn" type="submit">Send</button>
      </div>
    </form>
    
    <div class="contacts-wrapper">

      <address>
        <ul>
          <li class="email-btn">
            <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
          </li>
      
          <li class="phone-btn">
            <a href="tel:+3801111111111">+380 11 1111 11 11</a>
          </li>
        </ul>
      </address>



      <!--<button class="email-btn" type="submit">lloydjefferson@gmail.com</button>
      <button class="phone-btn" type="submit">+380 11 1111 11 11</button>-->
    </div>
  </div>
</section>
            
            <!--
                <address>
                <ul>
                    <li class="email-btn">
                        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                    </li>
            
                    <li class="phone-btn">
                        <a href="tel:+3801111111111">+380 11 1111 11 11</a>
                    </li>
                </ul>
            </address>-->

            <!--Modal window-->

            
            <!--<input type="checkbox" id="modalCheckbox" class="visually-hidden">
            <div id="modalW" class="backdrop visually-hidden">
                <div class="modal-window">
                    <button class="modal-button" type="button" aria-label="close-button">
                        <svg class="modal-btn-icon" width="22" height="22">
                                <use href="../img/icons/sprites.svg#closeX"></use>
                        </svg>
                    </button>
                    <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
                    <p class="modal-text">
                        The manager will contact you shortly to discuss further details and
                        opportunities for cooperation. Please stay in touch.
                    </p>
                </div>
            </div>-->
    
