<footer class="footer" id="footer">
    <div class="container container-footer">
        <div class="footer-text letswork">
            <h2 class="title-footer">
                <picture>
                    <source srcset="../img/head_foot_icon/head_foot_icon_X1.jpg" alt="Head-icon-img">
                    <img class="img-footer" srcset="../img/head_foot_icon/head_foot_icon_X1.webp" width="70" height="70" />
                </picture>
                LET'S
                <span class="title-span">WORK<br/></span>
                TOGETHER
            </h2>
        </div>

            <form class="footer-form" id="form">
                <div class="container-input">
                    <input class="footer-input input" name="userEmail" type="email" placeholder="clients@gmail.com" required
                        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
            
                    <input class="footer-input" type="text" name="userComments" id="user-comments" required placeholder="comments"
                        aria-label="type your comment">
                </div>
            
                <button class="footer-btn" type="submit" aria-label="send-comment">Send</button>
            </form>
            
            <address class="contacts-footer">
                <ul class="container-address">
                    <li class="container-contacts">
                        <a class="contacts-footer-mini" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                    </li>
            
                    <li class="container-contacts">
                        <a class="contacts-footer-mini" href="tel:+3801111111111">+380 11 1111 11 11</a>
                    </li>
                </ul>
            </address>
    </div>
</footer>
