/* MOBILE */

.about-section {
  padding-block-start: 64px;
  padding-block-end: 64px;
}

.main-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-end: 32px;
}

.header-box {
  border-radius: 24px;
  width: 343px;
  height: 500px;
  padding: 32px 32px 0px 32px;
  background: #242527;
}

.about-header {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #fafafa;
}

.title-span-red {
  color: #ed3b44;
}

.title-span-grey {
  color: rgba(250, 250, 250, 0.4);
}

.developer-img {
  border-radius: 24px;
}

.main-image {
  width: 343px;
  height: 500px;
}

.about-box {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-block-end: 32px;
}

.about-me-par-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.accordion-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul.accordion-list li.accordion-item {
  background-color: #1c1d20;
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: rgba(250, 250, 250, 0.2);
  padding: 0px 0px 32px 0px;
  margin: 0;
}
ul.accordion-list li.accordion-item:first-child {
  padding: 0px 0px 20px 0px;
}

.about-box-titles {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

ul.accordion-list li.accordion-item .accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

ul.accordion-list li.accordion-item .ac-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 0;
}

.role {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education {
  max-width: 465px;
}

.circle-box {
  position: relative;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  padding: 7px;
  width: 34px;
  height: 34px;
  margin-left: 44px;
  flex-shrink: 0;
  display: block;
  transition: box-shadow 250ms linear;
}

.circle-box:hover {
  box-shadow: 0 0 15px #ed3b44;
}



.list-item-icon {
  transition: transform 0.5s, box-shadow 700ms linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  rotate: 180deg;
}

.is-active .list-item-icon {
  transform: rotate(180deg) translate(-50%, -50%);
}

.about-me-skills-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.skills-container {
  width: 260px;
  overflow: hidden;
}

.skills-slide {
  display: flex !important;
  font-weight: 500;
  font-size: 16px;
  color: #fafafa;
  width: 130px !important;
  height: 130px !important;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  justify-content: center;
  align-items: center;
}

.skills-slide.swiper-slide-active {
  background-color: #ed3b44;
  font-weight: 600;
  transition: background-color 700ms linear, font-weight 700ms linear;
}

.skills-button-next svg {
  stroke: #fafafa33;
  width: 28px;
  fill: none;
  rotate: 180deg;
  top: 50%;
  left: 50%;
}

.about-me-skills-svg {
  cursor: pointer;
  transition: stroke 250ms linear;
}


div.skills-button-next {
  position: absolute;
  right: 1px;
  width: 28px;
  height: 28px;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: all;
  opacity: inherit;

  transition: box-shadow 250ms linear;
}

 div.skills-button-next:hover {
  box-shadow: 0 0 15px #ed3b44;
} 

div.skills-button-next svg:hover { 
stroke: #fafafa;
}

/* Breaking Point 768px */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-section {
    padding-block-end: 96px;
  }

  .main-box,
  .about-box {
    margin-block-end: 64px;
  }

  .main-image {
    width: 704px;
    height: 700px;
  }

  .header-box {
    width: 704px;
    height: 700px;
    padding: 64px 64px 0px 64px;
  }

  .about-header {
    font-size: 38px;
    line-height: 1.05263;
  }

  .about-me-par-box {
    gap: 16px;
  }

  .skills-container {
    width: 600px;
    overflow: hidden;
  }

  .skills-slide {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    width: 200px !important;
    height: 200px !important;
  }

  div.skills-button-next {
    width: 40px;
    height: 40px;
  }
}

/* Breaking Point 1440px */
@media screen and (min-width: 1440px) {
  .about-section {
    padding-block-start: 96px;
    padding-block-end: 164px;
  }

  .about-header {
    font-size: 38px;
    line-height: 1.05263;
  }

  .header-box {
     width: 680px;
    height: 700px;
    padding: 64px 64px 0px 64px;
  }

  .main-box,
  .about-box {
    margin-block-end: 96px;
  }

  .main-image {
    width: 680px;
    height: 700px;
  }
  .main-box {
    display: flex;
    flex-direction: row;
  }

  .about-me-par-box {
    max-width: 612px;
    gap: 32px;
  }

  .accordion-content {
    padding-inline-start: 696px;
  }

  div.education p.ac-text:first-child {
    padding-right: 96px;
  }

  .skills-container {
    width: 1200px;
    overflow: hidden;
    margin-left: 32px;
  }

  .skills-slide {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    width: 200px !important;
    height: 200px !important;
  }
  
  
  div.swiper-button-next.skills-button-next {
    right: 32px;
    top: 50%;
  }
}



