:root {
  --main-text: #fafafa;
  --button-text: #ed3b44;
  --arrow: #3b3b3b;
  --cards: #242527;
  --background: #1c1d20;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
  }
  
  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
  }
  
  /*=========  TABLET  =========*/
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  
  /*=========  DESKTOP  =========*/
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }
  
  /* BACKGROUND COLOR SECTION */
  .background{
      background-color: var(--background);
  }