/* Benefits section */

.section-benefits {
  padding: 32px 0px;
}

@media screen and (min-width: 1440px) {
  .section-benefits {
    padding: 82px 0px;
  }
}

@media screen and (min-width: 1440px) {
  .container-benefits {
    display: flex;
    flex-direction: row;
    gap: 390px;
  }
}

.benefits-title {
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
}

@media screen and (min-width: 1440px) {
  .benefits-title {
    /* margin-bottom: 0px; */
  }
  .content-part {
    max-width: 680px;
  }
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.services-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-bottom: 64px;
  border-radius: 10px;
  background: rgb(237, 59, 68);
}

.benefits-item {
  width: 344px;
  border-radius: 20px;
  background: rgb(36, 37, 39);
  padding: 24px;
}

@media screen and (min-width: 1440px) {
  .benefits-item {
    width: 332px;
  }
}

.benefits-title-item {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  margin-bottom: 8px;
}

.benefits-text {
  color: rgba(250, 250, 250, 0.6);
  line-height: 24px;
  text-align: left;
}

.benefits-btn {
  line-height: 19px;
  letter-spacing: -0.02em;
  text-align: center;
  display: block;
  width: 189px;
  padding: 18px 36px 18px 36px;
  color: rgb(250, 250, 250);
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}

@media screen and (min-width: 768px) {
  .benefits-btn {
    margin-top: 64px;
  }
}
