/* Benefits section */

.section-benefits {
  padding-bottom: 64px;
}

.benefits-title {
  color: rgba(250, 250, 250, 0.4);
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefits-item {
  width: 344px;
  border-radius: 20px;
  background: rgb(36, 37, 39);
  padding: 24px;
}

.benefits-title-item {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
}

.benefits-text {
  color: rgba(250, 250, 250, 0.6);
  line-height: 24px;
  text-align: left;
}

.benefits-btn {
  color: rgb(250, 250, 250);
  line-height: 19px;
  text-align: left;
  text-decoration: none;
  padding: 18px 36px 18px 36px;

  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
}
