.hero {
  padding-top: 281px;
  background-image: url(../img/hero/hero_mobile_1x.png);
  /* background-image: image-set(
    url(../img/hero/hero_mobile_1x.png) 1x,
    url(../img/hero/hero_mobile_2x.png) 2x
  ); */
  padding-bottom: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url(../img/hero/hero_mobile_2x.png);
  }
}

.hero-title {
  text-transform: uppercase;
  color: var(--main-text);
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.06em;
  margin-bottom: 212px;
}

.hero-social-links {
  max-width: 342px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.hero-social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  transition: border-color 250ms;
  cursor: pointer;
}
.hero-social-link-item:hover,
.hero-social-link-item:focus {
  border-color: #fafafa;
}

.hero-social-link-item.first {
  padding: 10px 12px;
}

.hero-social-link-item.second {
  padding: 10px;
}

.hero-social-link-item.third {
  padding: 10px 11px;
}

.hero-social-link-item.fourth {
  padding: 10px 8px;
}

.hero-social-link-item.fifth {
  padding: 10px 12px;
}

.hero-social-link-item a {
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 300px;
    background-image: url(../img/hero/hero_tablet_1x.png);
    /* background-image: image-set(
      url(../img/hero/hero_tablet_1x.png) 1x,
      url(../img/hero/hero_tablet_2x.png) 2x
    ); */
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero_tablet_2x.png);
    }
  }
  .hero-title {
    font-size: 90px;
  }
  .hero-social-links {
    max-width: none;
    justify-content: flex-end;
    gap: 8px;
  }
  .hero-social-link-item.first {
    padding: 18px 20px;
  }

  .hero-social-link-item.second {
    padding: 18px 17px;
  }

  .hero-social-link-item.third {
    padding: 18px;
  }

  .hero-social-link-item.fourth {
    padding: 18px 16px;
  }

  .hero-social-link-item.fifth {
    padding: 18px 24px;
  }
  .hero-social-link-item a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    /* background-image: image-set(
      url(../img/hero/hero_desctop_1x.png) 1x,
      url(../img/hero/hero_desctop_2x.png) 2x
    ); */
    background-image: url(../img/hero/hero_desctop_1x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero_desctop_2x.png);
    }
  }

  .hero-title {
    max-width: 1120px;
    margin: 0 auto;
    margin-bottom: 212px;
  }
}

@media screen and (min-width: 330px) {
  .hero {
    background-position: left;
  }
}

@media screen and (max-width: 374px) {
  .hero-social-link-item .hero-link-text {
    font-size: 12px;
    line-height: 1.21;
  }
  .hero-social-links {
    gap: 2px;
  }
  .hero-title {
    font-size: 44px;
  }
}
