.projects-section {
padding-bottom: 64px;

}

.text-block {
border-top-left-radius: 24px;
border-top-right-radius: 24px;
background: #fafafa;
 display: block;
 padding: 32px;
}

.projects-title {
font-family: "Inter Tight", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
margin-top: 0;
margin-bottom: 32px;
}

.technologies-list {
    list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     font-family: "Inter Tight", sans-serif;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: -0.02em;
     color: #1c1d20;
     padding-left: 0;
     margin-bottom: 96px;
     gap: 6px;
}

.technologies-item {
box-sizing: border-box;
border: 1px solid rgba(28, 29, 32, 0.2);
border-radius: 60px;
padding: 13px 18px;

}

.projects-description {
max-width: 279px;
font-size: 24px;
line-height: 1.16667;
letter-spacing: -0.03em;
color: #1c1d20;
margin-bottom: 32px;
}

.project-link {
display: inline-block;
font-size: 16px;
color: #fafafa;
border-radius: 60px;
padding: 13px 32px;
text-decoration: none;
background: #ed3b44;



}

.image-block {
background: #242527;
display: block;
padding: 100px 16px;
border-bottom-left-radius: 24px;
border-bottom-right-radius: 24px;
}

.slider-wrap {
    margin-bottom: 32px;
}

.projects-buttons-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    padding: 14px;

}


.proj-right-button {
   transform: rotate(180deg); 
}

.projects-button {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 14px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.5s;
    fill: #fafafa;
}

.projects-button:hover,
.projects-button:focus {
    border: 1px solid rgba(250, 250, 250, 0.5);
}


.projects-button:hover .button-arrow
 .projects-button:focus .button-arrow {
    fill: #ffffff;
}



                /* Mobile styles */
@media screen and (min-width: 320px) {
.container {
    width: 100%;
   }
}
 
@media screen and (min-width: 375px) {
  
}

                /* =========================TABLET========================== */


@media screen and (min-width: 768px) {
    .technologies-item {
padding: 18px;
}

.text-block {
    padding: 64px;
}

.technologies-list {
    margin-bottom: 164px;
}

.project-link {
padding: 18px 50px;

}
.projects-description {
max-width: 494px;
font-size: 44px;
line-height: 1;
margin-bottom: 32px;
}

.slider-wrap {
    margin-bottom: 64px;
}
.projects-button {
padding: 18px;
}

.button-arrow {
width: 32px;
height: 32px;

}
}
                /* =========================DESCTOP========================== */

@media screen and (min-width: 1440px) {
.technologies-list {
    margin-bottom: 223px;
}

}