.reviews-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

.reviews-title {
  color: #fafafa66;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-list {
 margin-bottom: 32px;
}

.reviews-card {
  padding: 32px 24px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.reviews-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-name {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 8px;
}

.reviews-text {
  height: 120px;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  color: #fafafa99;
  text-align: left;
}

.reviews-btn-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .reviews-btn-wrapper {
    gap: 20px;
  }
}

.reviews-next-btn {
  transform: rotate(180deg);
}

.reviews-prev-btn,
.reviews-next-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.5s;
  stroke: #fafafa;
  width: 52px;
  height: 52px;
}
@media screen and (min-width: 768px) {
  .reviews-prev-btn,
  .reviews-next-btn {
    padding: 17px;
    width: 68px;
    height: 68px;
  }
}

.reviews-prev-btn:hover,
 .reviews-next-btn:hover { 
  border: 1px solid rgba(250, 250, 250, 0.5);
  box-shadow: 0 0 15px #ed3b44;
}

.btn-arrow {
  stroke: #fafafa;
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .btn-arrow {
    width: 32px;
    height: 32px;
  }
}
.reviews-prev-btn:hover .btn-arrow,
.reviews-next-btn:hover .btn-arrow,
.reviews-prev-btn:focus .btn-arrow,
.reviews-next-btn:focus .btn-arrow {
  stroke: #ffffff;
}

.reviews-prev-btn:disabled,
.reviews-next-btn:disabled {
  cursor: default;
  border: 1px solid #fafafa33;
  box-shadow: none;
}
.reviews-prev-btn:disabled .btn-arrow,
.reviews-next-btn:disabled .btn-arrow {
  stroke: #fafafa33;
}
