.reviews-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .reviews-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-section {
    padding-top: 164px;
    padding-bottom: 164px;
  }
}

.reviews-title {
  color: #fafafa66;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.reviews-card {
  padding: 32px 24px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 32px;
}

.reviews-img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}

.reviews-name {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 8px;
}

.reviews-text {
  height: 120px;
  overflow-y: auto;
  color: #fafafa99;
  text-align: left;
}

.reviews-btn-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

.reviews-next-btn {
  transform: rotate(180deg);
}

.reviews-prev-btn,
.reviews-next-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: transparent;
  border-radius: 60px;
  border: 1px solid #fafafa33;
  transition: border 250ms ease-in-out;
  fill: #fafafa;
}
@media screen and (min-width: 768px) {
  .reviews-prev-btn,
  .reviews-next-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}
@media screen and (min-width: 768px) {
  .button-arrow {
    width: 32px;
    height: 32px;
  }
}
/* .reviews-slider {
  width: 100%;
  height: 300px;
}

.reviews-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.reviews-slider .swiper-button-prev,
.reviews-slider .swiper-button-next {
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reviews-slider .swiper-button-prev:hover,
.reviews-slider .swiper-button-next:hover {
  background-color: #555;
}

.reviews-slider .swiper-pagination-bullet {
  background-color: #333;
  opacity: 1;
}

.reviews-slider .swiper-pagination-bullet-active {
  background-color: #555;
} */
