/* Mobile version */
.footer {
    /*background-image*/
        background-repeat: no-repeat;
        background-position: right top;
}


@media (min-resolution: 192dpi),
(min-resolution: 2dppx) { }
.container-work-together {
    padding: 0 16px;
        min-width: 320px;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
}

.footer-text {
    display: flex;
}

.title-footer {
    font-size: 40px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -.03em;
        text-align: left;
        color: #fafafa;
}

.img-footer {
    border-radius: 16px;
        width: 44px;
        height: 44px;
        display: inline-block;
}

.title-span {
    color: #ed3b44;
}



/*FORM*/
.footer-form {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        margin-top: 63px;
}

.footer-input {
    background-color: transparent;
    height: 44px;
    width: 100%;
    outline: transparent;
    border: transparent;
    border-bottom: 1px solid #fafafa99;
    padding: 0 0 20px;
    resize: none;
    color: #fafafa;
    transition: border-color .25s linear;
        margin-bottom: 16px;
        font-family: inherit;
}
.footer-input:hover {
    border-color: #fafafa;
}

.footer-input:valid {
    border-color: #3cbc81;
}

.footer-input:invalid:focus {
    border-color: #e74a3b;
}

.footer-input::placeholder {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: #fafafa99;
    transition: color 250ms linear;
}

.footer-input:hover::placeholder {
    color: #fafafa;
}

.container-input input {
    margin-bottom: 16px;
}

.input {
    font-size: 100%;
        line-height: 1.15;
        margin: 0;
}

.footer-btn {
    font-size: 16px;
    font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -.02em;
        text-align: center;
        color: #fafafa;
        background-color: #ed3b44;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        transition: background-color .25s linear, font-weight .35s linear;
        cursor: pointer;
        text-transform: none;
}

.form-button:hover,
.form-button:focus {
    background-color: #e0373f;
    font-weight: 600;
}



/*ADDRESS*/

.contacts-footer {
    margin-top: 64px;
}
.container-address {
    display: flex;
        gap: 4px;
        margin: 0;
        justify-content: left;
}
.container-contacts {
    padding: 10px 12px 10px 12px;
        gap: 10px;
        border-radius: 60px;
        border: 1px solid #fafafa33;
        flex-shrink: 0;
        transition: border-color .25s linear, box-shadow .25s linear;
}

.container-contacts:hover {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
}

.contacts-footer-mini {
    font-size: 14px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -.02em;
        text-align: left;
        color: #fafafa;
        font-style: normal;
}


/*modal*/
.backdrop {
    font-family: inherit;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f1099;
}

.modal-window {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 1px solid #fafafa1a;
    background-color: #1c1d20;
    width: 343px;
    min-height: 276px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms linear;
    padding: 64px 32px 64px 32px;
}

.modal-button {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.modal-btn-icon {
    fill: #fafafa;
    transition: transform 250ms linear;
}

.modal-button:hover .modal-btn-icon,
.modal-button:focus .modal-btn-icon,
.modal-button:active .modal-btn-icon {
    transform: scale(1.2);
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
}

.modal-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa99;
}
/* Tablet version */
@media screen and (min-width: 768px) and (max-width: 1439px) {


    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {}

    .footer {
        background-position-x: 570px;
    }

    .input-footer {
        max-width: 245px;
    }
}

@media screen and (min-width: 768px) {
    .title-footer {
        font-size: 64px;
        line-height: 64px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .form {
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
    }

    .container-input {
        display: flex;
        gap: 20px;
    }

    .form-button {
        width: 150px;
        height: 150px;
    }

    .contacts-footer {
        margin-top: 40px;
    }

    .container-address {
        gap: 8px;
    }

    .container-contacts {
        padding: 18px 32px 18px 32px;
    }

    .contacts-footer-mini {
        font-size: 16px;
        line-height: 1.2;
    }

    .modal-window {
        width: 492px;
        min-height: 246px;
        padding: 64px;
    }

    .modal-button {
        width: 24px;
        height: 24px;
    }

    .img-footer {
        width: 70px;
        height: 70px;
    }
}
/* Desktop version */
@media screen and (min-width: 1440px) {
    .footer {
        background-position-x: 1040px;
        margin-right: auto;
        margin-left: auto;
        gap: unset;
        display: flex;
    }

    @media (min-resolution: 192dpi),
    (min-resolution: 2dppx) {}

    .form {
        gap: 86px;
    }

    .footer-input {
        width: 390px;
    }

    .img-footer {
        flex-wrap: nowrap;
    }
}