.footer {
    /*background-image*/
        background-repeat: no-repeat;
        background-position: right top;
}

.container {
    padding: 0 16px;
        min-width: 320px;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
}

.footer-text {
    display: flex;
}

.title-footer {
    font-size: 40px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -.03em;
        text-align: left;
        color: #fafafa;
}

.img-footer {
    border-radius: 16px;
        width: 44px;
        height: 44px;
        display: inline-block;
}

.title-span {
    color: #ed3b44;
}



/*FORM*/
.footer-form {
    display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 32px;
        margin-top: 63px;
}

.footer-input {
    background-color: transparent;
    height: 44px;
    width: 100%;
    outline: transparent;
    border: transparent;
    border-bottom: 1px solid #fafafa99;
    padding: 0 0 20px;
    resize: none;
    color: #fafafa;
    transition: border-color .25s linear;
        margin-bottom: 16px;
        font-family: inherit;
}



.input {
    font-size: 100%;
        line-height: 1.15;
        margin: 0;
}

.footer-btn {
    font-size: 16px;
    font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -.02em;
        text-align: center;
        color: #fafafa;
        background-color: #ed3b44;
        width: 100px;
        height: 100px;
        border: none;
        border-radius: 50%;
        transition: background-color .25s linear, font-weight .35s linear;
        cursor: pointer;
        text-transform: none;
}

.footer-btn:hover {
    background-color: #e0373f;
}






/*ADDRESS*/

.contacts-footer {
    margin-top: 64px;
}
.container-address {
    display: flex;
        gap: 4px;
        margin: 0;
        justify-content: left;
}
.container-contacts {
    padding: 10px 12px;
        gap: 10px;
        border-radius: 60px;
        border: 1px solid #fafafa33;
        flex-shrink: 0;
        transition: border-color .25s linear, box-shadow .25s linear;
}
.contacts-footer-mini {
    font-size: 14px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -.02em;
        text-align: left;
        color: #fafafa;
        font-style: normal;
}