.section-work-together {
  padding-bottom: 32px;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line {
  color: rgba(250, 250, 250, 0.6);
}

.footer-input {
  color: #fafafa;
}

.container-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.footer-image {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  display: block;
}

.footer-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
}

.title-together {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 63px;
}

.title-work {
  color: rgb(237, 59, 68);
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}

.footer-input {
  color: rgba(250, 250, 250, 0.6);
  text-align: left;
  border-color: rgba(250, 250, 250, 0.2);
  background-color: transparent;
  outline: transparent;
  border: transparent;
  border-bottom: 1px solid #fafafa99;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 20px;
  font-family: inherit;
  resize: none;
  color: #fafafa;
  transition: border-color 0.25s linear;
}

.footer-input:hover {
  border-color: #fafafa;
}

.footer-input:valid {
  border-color: #3cbc81;
}

.footer-input:invalid:focus {
  border-color: #e74a3b;
}

.footer-input::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa99;
  transition: color 250ms linear;
}

.footer-input:hover::placeholder {
  color: #fafafa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.footer-btn {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 16px;
  color: rgb(250, 250, 250);
  line-height: 1.19;
  background: rgb(237, 59, 68);
  cursor: pointer;
}

.footer-btn:hover {
  background: rgb(224, 55, 63);
}
.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 4px 8px 0px rgba(0, 255, 255, 0.7),
    2px 4px 16px 0px rgba(0, 255, 255, 0.7);
}

.contacts-wrapper {
  display: flex;
  gap: 4px;
}
.email-btn:hover {
  border-color: #fafafa;
  box-shadow: 0 0 15px #ed3b44;
}
.phone-btn:hover {
  border-color: #fafafa;
  box-shadow: 0 0 15px #ed3b44;
}

.email-btn,
.phone-btn {
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  background: rgb(28, 29, 32);
  padding: 10px 12px 10px 12px;
  color: rgb(250, 250, 250);
  font-size: 14px;
  line-height: 1.21;
}

.container-fot {
  background-image: url(../img/work_together/mobile_1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container-fot {
    background-image: url(../img/work_together/mobile_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .container-fot {
    background-image: url(../img/work_together/tablet_1x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container-fot {
      background-image: url(../img/work_together/tablet_2x.png);
    }
  }
  .email-btn,
  .phone-btn {
    padding: 18px 32px 18px 32px;
  }
  .contacts-wrapper {
    gap: 8px;
  }
  .footer-btn {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 0px;
  }
  .footer-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }
  .footer-input {
    width: 100%;
  }
  .container-wrapper {
    margin-top: 80px;
    gap: 20px;
  }
  .section-work-together {
    padding-bottom: 169px;
  }
  .footer-image {
    width: 70px;
    height: 70px;
    border-radius: 24px;
  }
  .footer-title,
  .title-work,
  .title-together {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-align: left;
    text-transform: uppercase;
  }

  .title-together {
    margin-bottom: 64px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 374px) {
  .email-btn,
  .phone-btn {
    font-size: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .container-fot {
    background-image: url(../img/work_together/desctop_1x.png);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container-fot {
      background-image: url(../img/work_together/desctop_2x.png);
    }
  }
}

/*modal*/
.backdrop {
  font-family: inherit;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f1099;
}
.modal-window {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid #fafafa1a;
  background-color: #1c1d20;
  width: 343px;
  min-height: 276px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms linear;
  padding: 64px 32px 64px 32px;
  pointer-events: auto;
}
.modal-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.modal-btn-icon {
  fill: #fafafa;
  transition: transform 250ms linear;
}
.modal-button:hover .modal-btn-icon,
.modal-button:focus .modal-btn-icon,
.modal-button:active .modal-btn-icon {
  transform: scale(1.2);
}
.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  padding-bottom: 8px;
}
.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa99;
}

@media screen and (max-width: 374px) {
    .modal-window {
        width: 300px;
    }
  .modal-title {
    font-size: 18px;
    line-height: 1.2;
  }
  .modal-text {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
    .modal-window {
        width: 493px;
        padding: 64px;
    }
}